<nav class="navbar navbar-default navbar-fixed-top second-nav down-nav">
  <div class="navbar-brand">Welcome <strong>{{user.username}}<strong></div>
  <ul class="nav navbar-nav" ng-show="status">
    <li class="dropdown" ng-show="!sentCommand">
      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Table: {{currentTable.name}}<span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-scroll">
        <li ng-repeat="table in status.tables"><a href="" ng-click="ChangeTable($index)">{{table.name}}</a></li>
      </ul>
    </li>
    <li class="dropdown" ng-show="!sentCommand">
      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Command: {{command}}<span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-scroll">
        <li ng-repeat="command in commands"><a href="" ng-click="SetCommand(command)">{{command}}</a></li>
      </ul>
    </li>
    <li ng-show="!sentCommand">
      <a href="" ng-click="Submit()">
        Go
      </a>
    </li>
    <li ng-show="sentCommand">
      <a href="">
        Status: {{commandStatus.status}}
      </a>
    </li>
  </ul>
</nav>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h3 id="myModalLabel">Delete</h3>
  </div>
  <div class="modal-body">
      <p></p>
  </div>
  <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button data-dismiss="modal" class="btn red" id="btnYes">Confirm</button>
  </div>
</div>
<table class="table table-striped table-hover table-users hbase-table">
  <thead class="sticky-header">
    <tr>
      <th>Key</th>
      <th ng-repeat="column in columns">{{column}}</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="row in rows">
      <td>{{row.key}}</td>
      <td ng-repeat="column in row.columns" editable-textarea="column.value" onaftersave="EditValue(row.key, $index, column.value)">
        {{column.value}}
      </td>
      <td>
        <a href="#" class="confirm-delete btn mini red-stripe" role="button" data-title="kitty" data-id="{{$index}}">
        Delete
        </a>
      </td>
    </tr>
  </tbody>

</table>